<% content_for :title, "Messages" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div id="messages" class="w-[800px] h-[800px] mx-auto py-5 my-2">
    <div class="flex justify-center">
      <h1 class="font-bol text-4xl">Сообщения</h1>    
    </div>
    <div class="flex justify-center"> 
      <div class="flex-col">      
        <% if @messages.any? %>
          <% @messages.each do |message| %>
            <div class = "border-b my-2">
              <%= render message %>
              <div class="flex">
                <%= button_to "Удалить сообщение", message_path(message, {turbo: @turbo_param}), method: :delete, data: { turbo: @turbo_param }, class: "text-sm ml-2 rounded-md hover:bg-red-400 inline-block" %>                         
              </div>
            </div>
            
          <% end %>
        <% else %>
          <p class="text-center my-10">Сообщения не найдены</p>
        <% end %>
        
        <div class = "px-3 my-5">
          <%= render "form", message: @message %>      
        </div>
        <div class = "px-3 my-5">
          <%= link_to @turbo_param ? "Выключить turbo": "Включить turbo" , messages_path( @turbo_param ? {turbo: false} : {turbo: true}), class: @turbo_param ? "px-1 py-1 rounded-md bg-red-500 hover:bg-red-400 text-white min-w-full" : "px-1 py-1 rounded-md bg-green-500 hover:bg-green-400 text-white min-w-full"%>
        </div>
      </div>
    </div>
  </div>  
</div>
